@charset "utf-8";

/* 폰트 */

/* font-family: 'Hahmlet', serif; */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
/* font-family: 'Varela Round', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Gaegu', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
/* font-family: 'Stylish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
/* font-family: 'Jost', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* 초기화 */
* { margin: 0; padding: 0; outline: 0; }
li { list-style: none; }
a { text-decoration: none; color: #000; }
.hidden { position: absolute; left: -9999px; }
.hiddenIndent { text-indent: -9999px; }
canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; filter: blur(2px); }
body { height: 300vh; }

#mouseController {
        width: 18px; height: 18px;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 50%;
        opacity: 0.3;
        position: absolute;
        left: 0; top: 0;
        transform: scale(1);
        z-index: 1000;
        pointer-events: none;
        transition: 0.06s;
        color: #fff;

        text-align: center;
        font-weight: bold;
        font-size: 18px;
        user-select: none;
        display: none;
}

/* 레이아웃 */

/* 헤더 */
#header { position: relative; width: 100%; height: 60px; z-index: 1; box-sizing: border-box; }
#logo { width: 176.666px; height: 41.666px; background: url(../images/logo.png) no-repeat center center / cover; 
        display: block; margin: 30px 150px; text-indent: -9999px; overflow: hidden; }

/* gnb */
#gnbWrap { text-align: center; width: 800px; height: 63px; position: absolute; left: calc(50% - 400px); top: -15px; 
           overflow: hidden; border-radius: 0 0 8px 8px; font-family: 'Hahmlet', serif; }
#gnb {}
#gnb > li { float: left; width: 25%; position: relative; }
#gnb > li > a { display: block; line-height: 60px; margin-bottom: 15px; font-size: 20px; font-weight: bold; }

#gnb > li:hover a.gnbList { color: gray }
#gnb > li:hover a.gnbList::after { position: absolute; content: ""; width: 0; height: 60px; animation: gnbHover 0.5s forwards;
                                   border-bottom: 4px solid #F6A9A9 }


.snb { width: 100%; height: 410px; background-color: #fff; color: #000; 
       border-left: 1px solid #ddd; border-right: 1px solid #ddd; box-sizing: border-box; }
.snb > li {  }
.snb > li > a { display: block; line-height: 45px; color: #000; }

.snb > li:hover a { background: rgba(200, 200, 200, 0.3); font-weight: bold; }
.snb > li:hover a::after { position: absolute; content: ""; width: 0; height: 45px; animation: snbHover 1.5s forwards;
                           border-bottom: 5px groove #28FFBF }


@keyframes gnbHover {
        0% {
                left: 50%;
        }
        100% { 
                width: 100px;
                left: 25%;
        }
}
@keyframes snbHover {
        0% {
                left: 0;
        }
        50% {
                left: 0;
                width: 100%;
                opacity: 0.5;
        }
        100% {
                width: 0;
                left: 110%;
                opacity: 1;
        }
}

#header a.tab { position: absolute; width: 28px; height: 28px; background: no-repeat center center / cover;
                top: 10px; }

#header a.search { right: 12%; background-image:url(../images/search.png); }
#header a.contect { right: 9%; background-image:url(../images/work.png); }
#header a.lang { right: 6%; background-image:url(../images/lang.png); }
#header a.more { right: 3%; background-image:url(../images/more.png); }


 /* slider */
#slider { width: 100%; height: 50vh; margin: 0 auto; position: relative; overflow: hidden; }

#slideList { width: 500%; height: 50vh; }
#slideList li { float: left; width: 20%; height: 50vh; overflow: hidden; position: relative; }
#slideList li a { display: block; width: 100%; height: 50vh; background: no-repeat center center / cover; }

#slideList li a.slide1 { background-image: url(../images/bg1.PNG); }
#slideList li a.slide2 { background-image: url(../images/bg2.png); }
#slideList li a.slide3 { background-image: url(../images/민초.png); }
/* #slideList li a.slide4 { background-image: url(../images/bg4.PNG); }
#slideList li a.slide5 { background-image: url(../images/bg5.PNG); } */

#slideList li a.animate { animation: slideScale 15s forwards; }

#slideList a + a { display: block; width: 170px; height: 45px; background: #f16529; z-index: 3;
                   position: absolute; font-size: 18px; text-align: center; line-height: 45px; 
                   font-family: 'Hahmlet', serif; border-radius: 10px; color: #fff;
                   box-shadow: 0 0 5px rgb(136, 130, 130); left: 17%; bottom: 3%; }
#slideList a.slide1 + a {  }


#slider a.slideBtn { position: absolute; top: 45%; width: 65px; height: 65px; text-indent: -9999px;
                     background: url(../images/next.png) no-repeat center center / cover;
                     opacity: 0.2; transition: 0.7s; }
#slider a#in { display: block; width: 170px; height: 42px; background: #f64646; z-index: 3;
                position: absolute; font-size: 18px; line-height: 41px; 
                font-family: 'Hahmlet', serif; border-radius: 2px; color: #fff;
                left: calc(50% - 85px); bottom: 5%; 
                opacity: 0.2; transition: 0.7s; text-indent: 35px; }

#slider:hover a.slideBtn { opacity: 0.5; }
#slider:hover a#in { opacity: 1; }
#slider a#in:hover { background: #dd3f3f; }
#slider a#in span.down { position: absolute; background: url(../images/down.PNG) no-repeat center center / cover ; width: 12px; height: 12px; 
                         right: 15%; top: calc(50% - 5px ); }

#slider a#prev { transform: rotate(180deg);  left: 3%; }
#slider a#next { right: 3%; }

@keyframes slideScale {
        100% {
                transform: scale(1.1);
        }
}


/* product */
#product { width: 60%; height: 45vh; margin: 0 auto; position: relative; }

#product h2 { padding: 26px 53px 0; font-size: 26px; text-transform: capitalize;
              font-family: 'Varela Round', sans-serif; }
#product a.kind { position: absolute; top: 15%; font-family: 'Hahmlet', serif; font-weight: bold; }
#product a.kind:nth-of-type(1) { right: 20%; }
#product a.kind:nth-of-type(2) { right: 13%; }
#product a.kind:nth-of-type(3) { right: 6%; }

#product a.kind:nth-of-type(1)::after, #product a.kind:nth-of-type(2)::after { content : ""; display: block; height: 14px; border-right: 2px solid rgba(0, 0, 0, 0.2);
                                        position: absolute; right: -40%; top: 28%; }
#product a.kind:hover { animation: kindHover 0.5s forwards; }

@keyframes kindHover {
        100% {
                padding-bottom: 3px;
                border-bottom: 5px dotted #dd3f3f;
        }
}

#viewer { width: 900px; height: 230px; position: relative; margin: 60px auto; overflow: hidden; }
#viewer > section > ul { position: absolute; left: calc(50% - 450px); top: 0; width: 1350px; height: 125px; }
#viewer > section > ul > li { float: left; width: 125px; height: 125px; margin: 0 50px; }
#viewer > section > ul > li > a { display: block;  text-align: center; width: 125px; height: 125px;
                        background: no-repeat center center / cover; text-indent: -9999px;}

/* #viewer > section { position: absolute; left: calc(50% - 450px); top: 0; width: 1350px; height: 444px; } */


#pieList {}
#pieList li {}
#pieList li a {}

#pieList li a.pie1 { background-image: url(../images/pie1.PNG); }
#pieList li a.pie2 { background-image: url(../images/pie2.PNG); }
#pieList li a.pie3 { background-image: url(../images/pie3.PNG); }
#pieList li a.pie4 { background-image: url(../images/pie4.PNG); }
#pieList li a.pie5 { background-image: url(../images/pie5.PNG); }
#pieList li a.pie6 { background-image: url(../images/pie6.PNG); }

#snackList { display: none; }
#snackList li {}
#snackList li a {}

#snackList li a.snack1 { background-image: url(../images/snack1.PNG); }
#snackList li a.snack2 { background-image: url(../images/snack2.PNG); }
#snackList li a.snack3 { background-image: url(../images/snack3.PNG); }
#snackList li a.snack4 { background-image: url(../images/snack4.PNG); }
#snackList li a.snack5 { background-image: url(../images/snack5.PNG); }
#snackList li a.snack6 { background-image: url(../images/snack6.PNG); }

#chocoList { display: none; }
#chocoList li {}
#chocoList li a {}

#chocoList li a.choco1 { background-image: url(../images/choco1.PNG); }
#chocoList li a.choco2 { background-image: url(../images/choco2.PNG); }
#chocoList li a.choco3 { background-image: url(../images/choco3.PNG); }
#chocoList li a.choco4 { background-image: url(../images/choco4.PNG); }
#chocoList li a.choco5 { background-image: url(../images/choco5.PNG); }
#chocoList li a.choco6 { background-image: url(../images/choco6.PNG); }

.viewerBtn { position: absolute; top: 20%; width: 30px; height: 30px; background: url(../images/next.png) no-repeat center center / cover;}
#viewer a#viewPrev { left: 0; transform: rotate(180deg); }
#viewer a#viewNext { right: 0; }

#viewer dt, #viewer dd { text-align: center; margin: 8px 0 0; font-family: 'Varela Round', sans-serif; }
#viewer dt { font-weight: bold; }
#viewer dd { font-size: 12px; word-break: keep-all; color: #888; }



/* content1 */

#content1 { height: 90vh; position: relative; }
#content1 h3 { text-align: center; font-size: 65px; font-weight: normal; font-family: 'Stylish', sans-serif; margin: 30px 0; }

#content1 #slogun { width: 100%; height: 80%; background: url(../images/main_brand.png) no-repeat center center / cover; box-shadow: 0 0 5px #000; }
#content1 #slogun p { text-transform: uppercase; font-size: 80px; line-height: 650px; color: #fff; text-indent: 70px; font-family: 'Jost', sans-serif; }
#content1::before { content: ""; display: block; width: 200px; height: 100px; background: rgba(196, 7, 7, 0.8);
                   position: absolute; left: 5.3%; top: 9%; }
#content1::after { content: ""; display: block; width: 80px; height: 80px; background: rgba(255, 131, 48, 0.8);
                    position: absolute; left: 3.3%; top: 16.5%; }



/* content2 */

#content2 { width: 60%; height: 70vh; margin: 50px auto; position: relative; }

#content2 section.content2 { border-radius: 40px 0; height: 44%; box-sizing: border-box;
                             float: left; margin: 30px 2.5% 0; text-align: center;
                             background: no-repeat center center / cover; overflow: hidden; position: relative; }
#content2 section.content2 h3 { font-size: 30px; width: 100%; line-height: 300px; color: #fff; font-family: 'Hahmlet', serif; }

/* #content2 section.content2:hover { animation: backAnimate 0.8s forwards; } */
#content2 section.content2:hover h3 { display: none; }

#content2 section.content2 dl { margin: 100px 0 0; }
#content2 section.content2 dt { font-weight: bold; }
#content2 section.content2 dd { margin: 20px 0 0; word-break: keep-all; }

#content2 section.content2:nth-of-type(1) { background-image: url(../images/marketO.JPG); width: 30%; }
#content2 section.content2:nth-of-type(2) { background-image: url(../images/용암수.png); width: 60%; }
#content2 section.content2:nth-of-type(3) { background-image: url(../images/dryou.PNG); width: 60%; }
#content2 section.content2:nth-of-type(4) { background-image: url(../images/chocopieHouse.png); width: 30%; }

#content2 img:nth-of-type(1) { position: absolute; top: 20%; right: 0; width: 57px; height: 155px; animation: img1Animate 2s infinite; transform-origin: center 70%; 
                               opacity: 0.8; }
#content2 img:nth-of-type(2) { position: absolute; top: 70%; left: 0; width: 48.333px; height: 136.666px; animation: img2Animate 5s infinite; transform-origin: center 70%;
                               opacity: 0.9; }

/* @keyframes backAnimate {
        100% {
                transform: scale(1.1);
        }
} */


@keyframes img1Animate {
       0% {
                transform: rotate(-15deg);
        }
        50% {
                transform: rotate(15deg);
        }
        100% {
                transform: rotate(-15deg);
        }
}
@keyframes img2Animate {
        0% {
                transform: translate(0);
        }
        50% {
                transform: translate(-30px, -30px);
        }
        100% {
                transform: translate(0);
        }
}

#content2 .moreBtn { display: block; width: 80px; line-height: 35px; position: absolute; right: 5%; top: 78%;
                     border: 2px solid #fff; border-radius: 30px; color: #fff; }

#content2back { position: relative; }